@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-gradient-to-r from-pink-400 to-pink-300 text-white font-semibold rounded-full px-4 py-2 shadow-md hover:scale-[1.02] transition transform;
  }
  .btn-secondary {
    @apply bg-gradient-to-r from-blue-200 to-blue-100 text-gray-700 font-semibold rounded-full px-4 py-2 shadow-sm hover:scale-[1.02] transition transform;
  }
}
